# The repo contains .ignore.example, not .ignore,
# so it's easier for each user to place their own.
.ignore

# Ignore Session files (Vim's workspace saver): To track application sessions
# between invocations, Vim uses either a ~/.vim/Session.vim file, or multiple
# files under ~/.vim/sessions/<servername>.vim. Dubs uses the latter approach,
# by using vim's --servername option. This has a few benefits, such as making
# Vim development easier, as you can muck with code in one instance, and kill
# and restart another gvim instance to test modifications.
sessions/

# "netrw is a kind of vim plugin/script which supports reading and writing
# files across networks. .netrwhist is a history file which maintains all
# the directories that were modified."
#   https://stackoverflow.com/questions/9850360/what-is-netrwhist
.netrwhist

# Spell is stored in ~/.waffle since it's user-personal and user-private.
spell

# tags is generated, 'natch.
tags

# mkview/loadview files.
view/

# Use Vim's new(ish) packages feature (see: :help packages) and manually
# install packages under ~/.vim/pack. To keep packages organized, use
# subdirectories to manage packages by their author. E.g., for a package
# you always want loaded, use a path such as, e.g.,
#       ~/.vim/pack/<author>/start/<package>
# - If you later want to disable a package, make it optional by
#   moving the directory under 'opt', e.g.,
#         ~/.vim/pack/<author>/opt/<package>
#   and then should you want to load it, run, e.g.,:
#         :packadd! <package>
# - If you're looking for a way to manage multiple git repositories,
#   the author recommends myrepos:
#       https://myrepos.branchable.com/
#   paired with the author's myrepos extensions and actions:
#       https://github.com/landonb/ohmyrepos

# Rather than just ignore everything, e.g.,
#   pack/
# Be deliberate instead, which is better form,
# e.g., be notified if you accidentally clone
# a new package but forget to register it with
# myrepos (assuming you forgot to update this
# file, .gitignore, as well).
# HINT:
#   ll -d ~/.vim/pack/*/*/*
pack/arcticicestudio/start/nord-vim
pack/cespare/start/vim-toml
pack/chrisbra/start/improvedft
pack/ctrlpvim/start/ctrlp.vim
pack/editorconfig/start/editorconfig-vim
pack/flazz/start/vim-colorschemes
pack/HerringtonDarkholme/start/yats.vim
pack/jamessan/start/vim-gnupg
pack/juanpabloaj/start/vim-istanbul
pack/junegunn/start/fzf.vim
pack/junegunn/start/goyo.vim
pack/junegunn/start/limelight.vim
pack/landonb/opt/dubs_cycloplan
pack/landonb/opt/vim-jsx
pack/landonb/start/ansible-vim
pack/landonb/start/dubs_after_dark
pack/landonb/start/dubs_appearance
pack/landonb/start/dubs_buffer_fun
pack/landonb/start/dubs_edit_juice
pack/landonb/start/dubs_file_finder
pack/landonb/start/dubs_ftype_mess
pack/landonb/start/dubs_grep_steady
pack/landonb/start/dubs_html_entities
pack/landonb/start/dubs_mescaline
pack/landonb/start/dubs_project_tray
pack/landonb/start/dubs_quickfix_wrap
pack/landonb/start/dubs_rest_fold
pack/landonb/start/dubs_style_guard
pack/landonb/start/dubs_syntastic_wrap
pack/landonb/start/dubs_toggle_textwrap
pack/landonb/start/dubs_web_hatch
pack/landonb/start/vim-classic-taglist
pack/landonb/start/vim-markdown
pack/landonb/start/vim-select-mode-stopped-down
pack/landonb/start/vim-surround
pack/landonb/start/vim-tmux-navigator
pack/landonb/start/vim-unimpaired
pack/majutsushi/start/tagbar
pack/marshallward/opt/vim-restructuredtext
pack/MaxMEllon/start/vim-jsx-pretty
pack/nanotech/start/jellybeans.vim
pack/pangloss/start/vim-javascript
pack/scrooloose/opt/nerdtree
pack/scrooloose/start/syntastic
pack/tomtom/start/tlib_vim
pack/tomtom/start/viki_vim
pack/ton/start/vim-bufsurf
pack/tpope/opt/vim-endwise
pack/tpope/opt/vim-pathogen
pack/tpope/opt/vim-scriptease
pack/tpope/opt/vim-vividchalk
pack/tpope/start/vim-abolish
pack/tpope/start/vim-fugitive
pack/tpope/start/vim-jdaddy
pack/tpope/start/vim-rails
pack/tpope/start/vim-speeddating
pack/tpope/start/vim-vinegar
pack/vim-scripts/start/AutoAdapt
pack/vim-scripts/start/ingo-library
pack/vim-scripts/start/TeTrIs.vim
pack/vim-scripts/start/ZoomWin
pack/wincent/start/command-t
pack/xolox/start/vim-misc
pack/yssl/start/QFEnter
pack/yuezk/start/vim-js
pack/zhou13/start/vim-easyescape

