[submodule "bundle/AutoAdapt"]
	path = bundle/AutoAdapt
	url = git@github.com:vim-scripts/AutoAdapt.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/dubs_after_dark"]
	path = bundle/dubs_after_dark
	url = git@github.com:landonb/dubs_after_dark.git
[submodule "bundle/dubs_appearance"]
	path = bundle/dubs_appearance
	url = git@github.com:landonb/dubs_appearance.git
[submodule "bundle/dubs_buffer_fun"]
	path = bundle/dubs_buffer_fun
	url = git@github.com:landonb/dubs_buffer_fun.git
[submodule "bundle/dubs_edit_juice"]
	path = bundle/dubs_edit_juice
	url = git@github.com:landonb/dubs_edit_juice.git
[submodule "bundle/dubs_file_finder"]
	path = bundle/dubs_file_finder
	url = git@github.com:landonb/dubs_file_finder.git
[submodule "bundle/dubs_ftype_mess"]
	path = bundle/dubs_ftype_mess
	url = git@github.com:landonb/dubs_ftype_mess.git
[submodule "bundle/dubs_grep_steady"]
	path = bundle/dubs_grep_steady
	url = git@github.com:landonb/dubs_grep_steady.git
[submodule "bundle/dubs_html_entities"]
	path = bundle/dubs_html_entities
	url = git@github.com:landonb/dubs_html_entities.git
[submodule "bundle/dubs_mescaline"]
	path = bundle/dubs_mescaline
	url = git@github.com:landonb/dubs_mescaline.git
[submodule "bundle/dubs_project_tray"]
	path = bundle/dubs_project_tray
	url = git@github.com:landonb/dubs_project_tray.git
[submodule "bundle/dubs_quickfix_wrap"]
	path = bundle/dubs_quickfix_wrap
	url = git@github.com:landonb/dubs_quickfix_wrap.git
[submodule "bundle/dubs_style_guard"]
	path = bundle/dubs_style_guard
	url = git@github.com:landonb/dubs_style_guard.git
[submodule "bundle/dubs_syntastic_wrap"]
	path = bundle/dubs_syntastic_wrap
	url = git@github.com:landonb/dubs_syntastic_wrap.git
[submodule "bundle/dubs_toggle_textwrap"]
	path = bundle/dubs_toggle_textwrap
	url = git@github.com:landonb/dubs_toggle_textwrap.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = git@github.com:vim-scripts/ingo-library.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/nord-vim"]
	path = bundle/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = git@github.com:yssl/QFEnter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/TeTrIs.vim"]
	path = bundle/TeTrIs.vim
	url = git@github.com:vim-scripts/TeTrIs.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/viki_vim"]
	path = bundle/viki_vim
	url = git@github.com:tomtom/viki_vim.git
[submodule "bundle/vim-bufsurf"]
	path = bundle/vim-bufsurf
	url = git@github.com:ton/vim-bufsurf.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = git@github.com:jamessan/vim-gnupg.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:landonb/vim-markdown.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:landonb/vim-jsx.git
[submodule "bundle/vim-scriptease"]
	path = bundle/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:landonb/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git@github.com:tpope/vim-vividchalk.git
[submodule "bundle/vim-istanbul"]
	path = bundle/vim-istanbul
	url = git@github.com:juanpabloaj/vim-istanbul.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = git@github.com:tpope/vim-jdaddy.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/dubs_rest_fold"]
	path = bundle/dubs_rest_fold
	url = https://github.com/landonb/dubs_rest_fold.git
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = https://github.com/landonb/ansible-vim.git
[submodule "bundle/dubs_web_hatch"]
	path = bundle/dubs_web_hatch
	url = git@github.com:landonb/dubs_web_hatch.git
